.smallContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 30px;
    margin: 30px 120px;
}

.smallContainer h1{
    color: #22262A;
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 40.5px;
}
.smallContainer p{
    white-space: normal;
    width: 70%;
    position: relative;
    top: -15px;
    left: 35px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
}

