.cart-page{
    display: grid;
    flex-direction: column;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    background-color: #fff;
    padding: 5px 0px 5px 100px;
    color: #22262A; 
    text-transform: uppercase;
}

.a{
    grid-column: auto / span 3;
    color: #22262A; 
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: flex-start;
}

.line{
  /* border: 1px solid red; */
  margin: 15px 50px;
  /* width: 90% !important; */
  color: #F6F7F8;
}

.first-item{
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    align-items: center;
    margin: 10px 80px;
    margin-bottom: 50px;
}

.first-item .b{
    display: flex;
    grid-column:  auto / span 3;
    grid-gap: 10px;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.first-item img{
    width: 100px; 
}

.first-item p{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
text-transform: none;
color: #262626;
}

.first-item .second-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 170px;
    align-items: center;
    margin: 0px 30px;
    justify-content: center;
    width: 100%;
}

.checkout-item{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    text-align: center;
    margin: 5px 0px 0px 80px;
}
.voucher-button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #BCDDFE;
    /* margin-top: -280px; */
}

.voucher-button input{
    width: 330px;
    height: 60px;
    padding: 15px;
    margin: 20px;
    border: 2px solid #BCDDFE;
    border-radius: 3px;
}

.voucher-button button{
    width: 118px;
    height: 60px;
    padding: 16px;
    margin-left: -20px;
    background-color:#33A0FF;
    border: none;
    border-radius: 2px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.checking{
    margin-right: 150px;
    align-items: center;
    margin-bottom: 120px;
}

.checking h1{
    padding: 0px 15px 0px 15px ;
    text-transform: uppercase;
    color: #22262A;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #22262A;

}
.checking > div{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color:#262626;
} 

.checking > div p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #262626;

}

.horiz{
    width: 100%;
    color: #F6F7F8;
    height: 2px;
    margin-top: 10px;
}

.redeem-button{
    padding: 15px 150px;
    background-color: #33A0FF;
    border: 1px solid #33A0FF;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

 .add_remove {
    display: flex;
    border: solid 1px #2766cc;
  }
   .add_remove .minus_button,
   .add_remove .add_button {
    opacity: 0.8;
  
    background-color: #2766cc1f;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
  }
  .add_remove span {
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: #fff;
  }