
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail h1{
    display: flex;
    justify-content: center;
    font-family: 'Poppins' sans-serif;
    text-transform: uppercase;
}

.details{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 a{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #33A0FF;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 100;
    margin-top: -35px;    
}
.details ul{
    display: flex;
    justify-content: center;
}

.details ul li{
    list-style: none;
}
.details ul li a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: -20px 30px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 90px 90px;
    background-color: #E5E5E5;
    /* margin:  */
    cursor: pointer;
}


.container img{
    /* align-items: center; */
    /* background:firebrick; */
    /* padding: 10px; */
    border-radius: 5px;
    width: 299.5px;
    height: 272.5px;
}

.containing{
    border: 2px #F6F7F8 solid;
    padding: 8px;
}



.container h3{
    color: #223263;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 150%;
    letter-spacing: 0.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow : hidden;
    /* padding: 5px; */
    /* width: 219.33px; */
}

    .item{
        border: 1.5px solid #F6F7F8;;
        /* margin-bottom: 35px; */
        justify-content: center;
        text-align: center;
        line-height: 3px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 3px;
        margin-right: 3px;
        /* height: 100%; */
    }

    .item h3{
        /* color: red; */
        /* width: 219.33px; */
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        
        text-decoration: none;
    }
    .image{
        height: 100%;
    }
    .image-overlay{
        /* border: 2px solid green; */
        position: absolute;
        width: 19.3%;
        background: #ccc5c5;
        height: 28%;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 6px;
        /* opacity: 0; */
        opacity: 0.8;
    }


.image-overlay h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item i{
    border-radius: 50%;
    color: #FFC600;
    font-size: 1em;
}

.item p{
    color: #40BFFF;
}

