.Kontainer{
    /* border: 10px solid greenyellow; */
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

.Kontainer img{
    /* border: 3px solid red; */
    width: 350px;
    margin-left: 30px;
    
    /* padding: 20px; */
}

.Kontainer .Kontains{
    padding: 0px 45px;
}
.htag{
    position: relative;
    top: -25px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 51px;
    color: #22262A;
}
.Kontainer .Kontains small{
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    line-height: 1px;
    color: #C1C8CE;
    /* padding: 0px 30px 0px 30px; */
}

.Kontainer .Kontains h1{
    /* padding: 0px 30px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1px;
    color: #22262A;
    white-space: normal;
}

.Kontainer .Kontains p{
font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
color: #22262A;
word-spacing: 2px;
/* padding: 0px 30px; */
white-space: normal;
width: 85%;
}
