img{
    max-width: 100%;
    height: 20%;
}

.hero-data{
    margin-top: -420px;
    margin-left: 90px;
    position: absolute;
font-family: Poppins;
font-style: normal;
font-size: 30px;
letter-spacing: 0.99px;
color: #FFFFFF;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 10px 95px;
    margin-bottom: -220px;
}

.card1 img{
    border-radius: 4px;
    color: white;
    position: relative;
    text-align: center;
}

.card1{
    margin-top: -75px;
}

.card1 h2{
    position: relative;
    top: -350px;
    right: -50px;
    color: #223263;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
    line-height: 30px;
}

.card1 p{
    position: relative;
    top: -200px;
    right: -270px;
    color: #40BFFF;
    font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 180%;  
letter-spacing: 0.5px;
}

.card1 h6{
    position: relative;
    top: -288px;
    right: -63px;
    font-size: 12px;
}

.card1 h6 s{
    color: #9098B1;
    font-weight: lighter;
}

.card1 h6 span{
    color: #FB7181;
}


.card2 img{
    text-align: center;
    border-radius: 4px;
    color: white;
    position: relative;
    top:-1px;
}

.card2{
    margin-top: -75px;
}

.card2 h2{
    position: relative;
    top: -332px;
    right: -50px;
    color: #223263;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
    line-height: 30px;
}

.card2 p{
    position: relative;
    top: -420px;
    right: -270px;
    color: #40BFFF;
    font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 180%;  
letter-spacing: 0.5px;
}

.card2 h6{
    position: relative;
    top: -250px;
    /* right: -63px;  */
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 h6 s{
    color: #9098B1;
    font-weight: lighter;
}

.card2 h6 span{
    color: #FB7181;
}

.card3 img{
    text-align: center;
    border-radius: 4px;
    color: white;
    position: relative;
}

.card3{
    margin-top: -75px;
}

.card3 h2{
    position: relative;
    top: -350px;
    right: -50px;
    color: #223263;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
    line-height: 30px;
}

.card3 p{
    position: relative;
    top: -180px;
    margin-left: 260px;
    /* right: -270px; */
    color: #40BFFF;
    font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 180%;  
letter-spacing: 0.5px;
}

.card3 h6{
    position: relative;
    top: -450px;
    right: -50px;
    font-size: 12px;
}

.card3 h6 s{
    color: #9098B1;
    font-weight: lighter;
}

.card3 h6 span{
    color: #FB7181;
}





