.navbar{
  position: sticky;
  top: 0;
  z-index: 9;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffffff;
    /* position: sticky; */
  }
  
  nav img{
    margin-left: 50px;
  }
  
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 280px;
    list-style: none;
  }
  
   .nav-links a {
    list-style: none;
    color: black;
    text-decoration: none !important;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    /* z-index: -8; */
    /* margin: 0 1rem; */
  }
  
  

  .dropd{
    position: relative;
    left: 20px;
    color: #262626;
    /* padding: 10px; */
  }

  .dropd i{
    position: relative;
    top: -4px;
    font-size: 9px;
    color: #262626;
  }

  .drop i{
    position: relative;
    top: -4px;
    font-size: 9px;
    color: #262626;
    /* left: -5px; */
  }

  .drop{
    position: relative;
    left: -108px;
    color: #262626;

  }

  header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -8;
  }

  .nav-list{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-left: 540px;
    list-style: none;
    color: #262626;
    text-decoration: none;
  }

  .nav-list i {
    color: #262626;
  }

.cart-num{
  font-size: 15px;
  position: absolute;
  top: 5px;
  /* right: 265px; */
  background: #FB7181;
  color: #ffffff;
  padding: 1px 8px;
  border-radius: 50%;
}



.dropdown{
  display: inline-block;
  /* z-index: 10.80; */
}

.dropdown a{
  text-decoration: none;
  color: #262626;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: black;

}

 .dropdown-content a{
  display: block;
  justify-content: flex-start;
  padding: 12px 10px;
  color: #ffffff;
  text-decoration: none;
  /* z-index: -8; */
  /* position: absolute; */
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* z-index: 0.9; */
}

/* .dropdown-content Link{
  text-decoration: none;
} */


/* li .dropdown-content  Link{
  text-decoration: none;
  color: red;
} */

