.Kontainer{
    border: 10px solid greenyellow;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

.Kontainer img{
    border: 3px solid red;
    width: 100%;
    /* padding: 20px; */
}

.Kontainer .Kontains{
    padding: 0px 50px;
}

